
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gwendolyn&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,176;0,284;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gwendolyn&family=Roboto:wght@100&family=Shadows+Into+Light&family=Work+Sans:ital,wght@0,176;0,284;1,200&display=swap');



.App
{
   margin: 0 auto;
    width:500px;
    min-height: 800px;
    font-family: 'Gwendolyn', cursive;
    font-size: 30px;

font-weight: bold;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,22,0.711922268907563) 35%, rgba(0,212,255,1) 100%);
}
.title
{
    text-align: center;
    animation: clignote 2s linear infinite;
    color: lime;
    font-family: 'Shadows Into Light', cursive;
}
@keyframes clignote {  
    50% { opacity: 0; }
  }
